.vertical-centered-text-with-sv-gs {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: 30.5px;
}
.content-block-text-style {
  flex: 0 0 auto;
  padding: 0;
  margin: 0;
  font: 500 15px/30px Manrope, sans-serif;
  color: #a5a49a;
  text-align: left;
}
.text-group-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: row;
  gap: 10px;
  align-items: stretch;
  justify-content: flex-start;
  height: 40px;
  margin-top: 26px;
}
.card-container1 {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-right: 13px;
  padding-left: 13px;
  background: #1f1e17;
  border-radius: 20px;
}
.svg-container5 {
  display: flex;
  flex: 0 0 auto;
  width: 14px;
  height: 14px;
  color: #ffffff;
}
