.futuristic-card {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 370px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.05);
}
.image-container-with-date-button {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  max-width: initial;
  height: 300px;
  border: none;
  object-fit: cover;
}
.green-button-with-date {
  box-sizing: border-box;
  display: block;
  flex: 0 0 auto;
  align-self: center;
  width: 135px;
  min-width: 135px;
  height: 40px;
  margin-top: -19px;
  font: 700 14px Manrope, sans-serif;
  color: white;
  cursor: pointer;
  background: #4baf47;
  border: none;
  border-radius: 10px;
}
