.email-contact-info-container {
  box-sizing: border-box;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 15px 19px 15px 80px;
  margin-right: 0px;
  border-left: 1px solid #e4e2d7;
}
.email-header-text-style {
  flex: 0 0 auto;
  align-self: center;
  padding: 0;
  margin: 0;
  margin-left: -72px;
  font: 600 12px Manrope, sans-serif;
  color: #878680;
}
.email-contact-info {
  flex: 0 0 auto;
  align-self: flex-end;
  padding: 0;
  margin: 0;
  font: 700 14px Manrope, sans-serif;
  color: #1f1e17;
}
