@import "tailwindcss";

@layer base {
  :root {
    --color-white: #ffffff;
    --color-red: #fa6650;
    --color-blue: #2f80ed;
    --color-black-1: #1f1e17;
    --color-black-2: #242424;
    --color-black-3: #24231d;
    --color-green: #4baf47;
    --color-light-green: #c5ce38;
    --color-orange: #eec044;
    --grey-scale-1: #333;
    --grey-scale-2: #4f4f4f;
    --grey-scale-3: #828282;
    --grey-scale-4: #bdbdbd;
    --grey-scale-5: #e0e0e0;
    --grey-scale-6: #ecedee;
    --grey-scale-7: #f2f2f2;
    --grey-scale-8: #a5a49a;
  }
}

@layer utilities {
  /* для текста */
  .white {
    color: var(--color-white);
  }

  .red {
    color: var(--color-red);
  }

  .blue {
    color: var(--color-blue);
  }

  .black-1 {
    color: var(--color-black-1);
  }

  .black-2 {
    color: var(--color-black-2);
  }

  .black-3 {
    color: var(--color-black-3);
  }

  .green {
    color: var(--color-green);
  }

  .light-green {
    color: var(--color-light-green);
  }

  .orange {
    color: var(--color-orange);
  }

  .grey-scale-1 {
    color: var(--grey-scale-1);
  }

  .grey-scale-2 {
    color: var(--grey-scale-2);
  }

  .grey-scale-3 {
    color: var(--grey-scale-3);
  }

  .grey-scale-4 {
    color: var(--grey-scale-4);
  }

  .grey-scale-5 {
    color: var(--grey-scale-5);
  }

  .grey-scale-6 {
    color: var(--grey-scale-6);
  }

  .grey-scale-7 {
    color: var(--grey-scale-7);
  }

  .grey-scale-8 {
    color: var(--grey-scale-8);
  }

  /* для заднего фона */
  .bg-white {
    background-color: var(--color-white);
  }

  .bg-red {
    background-color: var(--color-red);
  }

  .bg-blue {
    background-color: var(--color-blue);
  }

  .bg-black-1 {
    background-color: var(--color-black-1);
  }

  .bg-black-2 {
    background-color: var(--color-black-2);
  }

  .bg-black-3 {
    background-color: var(--color-black-3);
  }

  .bg-green {
    background-color: var(--color-green);
  }

  .bg-light-green {
    background-color: var(--color-light-green);
  }

  .bg-orange {
    background-color: var(--color-orange);
  }

  .bg-grey-scale-1 {
    background-color: var(--grey-scale-1);
  }

  .bg-grey-scale-2 {
    background-color: var(--grey-scale-2);
  }

  .bg-grey-scale-3 {
    background-color: var(--grey-scale-3);
  }

  .bg-grey-scale-4 {
    background-color: var(--grey-scale-4);
  }

  .bg-grey-scale-5 {
    background-color: var(--grey-scale-5);
  }

  .bg-grey-scale-6 {
    background-color: var(--grey-scale-6);
  }

  .bg-grey-scale-7 {
    background-color: var(--grey-scale-7);
  }

  .bg-grey-scale-8 {
    background-color: var(--grey-scale-8);
  }
}

@font-face {
  font-family: "CoveredByYourGrace";
  src: url("/fonts/CoveredByYourGrace.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-SemiBold.woff2") format("woff2");
  font-weight: 600;
}

@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Manrope";
  src: url("/fonts/Manrope-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Medium.woff2") format("woff2");
  font-weight: 500;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-SemiBold.woff2") format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-Bold.woff2") format("woff2");
  font-weight: 700;
}
@font-face {
  font-family: "Outfit";
  src: url("/fonts/Outfit-ExtraBold.woff2") format("woff2");
  font-weight: 800;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "ShadowsIntoLightTwo";
  src: url("/fonts/ShadowsIntoLightTwo-Regular.woff2") format("woff2");
  font-weight: normal;
}

@font-face {
  font-family: "Star7";
  src: url("/fonts/Star7.woff2") format("woff2");
  font-weight: normal;
}

@layer utilities {
  .font-covered {
    font-family: "CoveredByYourGrace", cursive;
  }

  .font-inter {
    font-family: "Inter", sans-serif;
  }
  .font-inter-regular {
    font-family: "Inter", sans-serif;
    font-weight: 400;
  }
  .font-inter-medium {
    font-family: "Inter", sans-serif;
    font-weight: 500;
  }
  .font-inter-semibold {
    font-family: "Inter", sans-serif;
    font-weight: 600;
  }

  .font-manrope {
    font-family: "Manrope", sans-serif;
  }
  .font-manrope-regular {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
  }
  .font-manrope-medium {
    font-family: "Manrope", sans-serif;
    font-weight: 500;
  }
  .font-manrope-semibold {
    font-family: "Manrope", sans-serif;
    font-weight: 600;
  }
  .font-manrope-bold {
    font-family: "Manrope", sans-serif;
    font-weight: 700;
  }
  .font-manrope-extrabold {
    font-family: "Manrope", sans-serif;
    font-weight: 800;
  }

  .font-outfit {
    font-family: "Outfit", sans-serif;
  }
  .font-outfit-regular {
    font-family: "Outfit", sans-serif;
    font-weight: 400;
  }
  .font-outfit-medium {
    font-family: "Outfit", sans-serif;
    font-weight: 500;
  }
  .font-outfit-semibold {
    font-family: "Outfit", sans-serif;
    font-weight: 600;
  }
  .font-outfit-bold {
    font-family: "Outfit", sans-serif;
    font-weight: 700;
  }
  .font-outfit-extrabold {
    font-family: "Outfit", sans-serif;
    font-weight: 800;
  }

  .font-roboto {
    font-family: "Roboto", sans-serif;
  }
  .font-roboto-regular {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
  }
  .font-roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
  }

  .font-shadows {
    font-family: "ShadowsIntoLightTwo", cursive;
  }

  .font-star {
    font-family: "Star7", sans-serif;
  }
}
